{% extends 'layouts/geral.twig' %}

{% block title %}Bate Papo | By Clayderson Ferreira{% endblock %}

{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,600" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
	<script>
		const chatTitle = $('.chat-title');
		const alertContainer = $('.alert-container');
		const viewportContainer = $('.viewport-container');
		const messagesLoading = $('.messages-loading');
		const messagesContainer = $('.messages-container');
		const inputMessage = $('#inputMessage');
		const btnSubmit = $('#btnSubmit');
		const runtime = {
			api: { url: '{{ apiUrl }}' },
			room: { id: '{{ roomId }}', url: '{{ roomUrl }}' },
			user: {},
			lastId: 0,
			getingNewMessage: false
		};
	</script>
	<script defer src="/js/chat.js"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-11 text-center">
				<div class="row justify-content-center">
					<div class="col col-sm-6 title-container">
						<h1 class="chat-title">{{ title }}</h1>
					</div>
				</div>
			</div>
			<div class="col-11 text-center">
				<div class="row justify-content-center">
					<div class="col col-sm-6 alert-container">
						<p class="title">Instabilidade detectada</p>
						<p>Pode ser que você tenha problemas para enviar ou receber mensagens até que tudo se normalize.</p>
					</div>
				</div>
			</div>
			<div class="col-11 text-center">
				<div class="row justify-content-center">
					<div class="col col-sm-6 viewport-container">
						<div class="messages-loading">
							<!-- svg credits: https://codepen.io/aurer/pen/jEGbA?q=loading&limit=all&type=type-pens -->
							<div class="loader loader--style6" title="5">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
								<rect x="0" y="13" width="4" height="5" fill="#333">
								<animate attributeName="height" attributeType="XML"
									values="5;21;5"
									begin="0s" dur="0.6s" repeatCount="indefinite" />
								<animate attributeName="y" attributeType="XML"
									values="13; 5; 13"
									begin="0s" dur="0.6s" repeatCount="indefinite" />
								</rect>
								<rect x="10" y="13" width="4" height="5" fill="#333">
								<animate attributeName="height" attributeType="XML"
									values="5;21;5"
									begin="0.15s" dur="0.6s" repeatCount="indefinite" />
								<animate attributeName="y" attributeType="XML"
									values="13; 5; 13"
									begin="0.15s" dur="0.6s" repeatCount="indefinite" />
								</rect>
								<rect x="20" y="13" width="4" height="5" fill="#333">
								<animate attributeName="height" attributeType="XML"
									values="5;21;5"
									begin="0.3s" dur="0.6s" repeatCount="indefinite" />
								<animate attributeName="y" attributeType="XML"
									values="13; 5; 13"
									begin="0.3s" dur="0.6s" repeatCount="indefinite" />
								</rect>
							</svg>
							</div>
						</div>
						<div class="messages-container"></div>
					</div>
				</div>
			</div>
			<div class="col-11 text-center">
				<div class="row justify-content-center">
					<div class="col col-sm-6 input-container">
						<div class="form-row align-items-center">
							<div class="col-10">
								<input type="text" class="form-control" id="inputMessage" placeholder="Digite uma mensagem" autocomplete="off" disabled="true">
							</div>
							<div class="col-2">
								<button class="btn btn-light btn-submit" id="btnSubmit"><i class="fas fa-paper-plane"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-11 text-center">
				<footer>
					<p><a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Versão {{ git.commit }}"><i class="fas fa-heart"></i></a> By <a href="//clayderson.com.br" title="Ir para o site do desenvolvedor" target="_blank">Clayderson Ferreira</a></p>
				</footer>
			</div>
		</div>
	</div>
{% endblock %}
